/*Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

/*Reset*/
* {
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Secular one', Arial, Helvetica, sans-serif;
}

/*Login page*/
.login-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.login-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
}

img {
    width: 180px;
    margin-bottom: 25px;

}

.login-header h1 {
    font-size: 1.5em;
    color: #5d4458;
}

.login-input {
    color: #5d4458;
    border: 2px solid #5d4458;
    border-radius: 10px;
    text-align: center;
    font-size: 1em;
    margin-bottom: 10px;
    max-width: 180px;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    opacity: 0.8;
}

.login-input:hover {
    background-color: #FDB165;
    border: none;

}

.login-button {
    background-color: #FDB165;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    max-width: 180px;
    padding: 5px;
    opacity: 0.8;

}

/*iteractivity with button / disabled function style*/
.login-button:hover {
    background-color: #fff;
    border: 2px solid #5d4458;
}

.login-button:disabled {
    background-color: rgb(187, 183, 183);
    color: rgba(128, 128, 128, 0.6);
    border: #fff;
    cursor: not-allowed;
}

/*Game page - Main page*/

body {

    background-size: cover;
}

/* main section */
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('/assets/images/bgimage.png');
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    padding: 8px;
    margin: 5px 0 5px;
    border-radius: 10px;
    background-color: #ffffffa2;
    color: #5d4458;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 10px;
}


.card {
    aspect-ratio: 6/8;
    width: 100%;
    border-radius: 10px;
    position: relative;
    transition: all 500ms ease;
    transform-style: preserve-3d;
    cursor: pointer;
}

.face {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 3px solid #5d4458;
    cursor: pointer;
    transition: all 900ms ease;

}

.front {
    transform: rotateY(180deg);
    border-radius: 20%;
}

.back {
    background-image: url('../images/back.png');
    backface-visibility: hidden;
}

.turn-card {
    transform: rotateY(180deg);
}

.match-card {
    visibility: hidden;
}

.backpg {
    color: #5d4458;
}

/* Win message */
.game-over-message {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #5d4458;
    text-align: center;
    font-size: 35px;
    padding: 20px;
    border-radius: 10px;
}

.play-again {
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #FDB165;
    color: #5d4458;
    cursor: pointer;
}

.play-again:hover {
    background-color: #fff;
    border: 2px solid #5d4458;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    font-size: 1em;
    margin-top: 10px;
    padding: 10px;
}

i {
    color: black;
    font-size: 40px;
    font-size: 2.5em;
    padding-top: 10px;
}