/*Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');


* {
    margin: 0;
    border: none;  
    box-sizing: border-box; 
    font-family: 'Secular one', Arial, Helvetica, sans-serif;
}

.login-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.login-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
}

.login-header h1 {
    font-size: 2em;
}

.login-input {
    color: grey;
    border: 2px solid gray;
    border-radius: 15px;
    text-align: center;
    font-size: 1em;
    margin-bottom: 10px;
    max-width: 180px;
    width: 100%;
    padding: 8px;
    cursor: pointer;

}

.login-button {
    background-color: gray;
    color: black;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    max-width: 180px;
    padding: 8px;
}
